/* Alert.module.css */
.alert {
  background-color: #ffeaea; /* bg-red-100 */
  border: 1px solid #e53e3e; /* border-red-400 */
  color: #b91c1c; /* text-red-700 */
  padding: 0.5rem 1rem; /* px-4 py-3 */
  border-radius: 0.25rem; /* rounded */
  margin-bottom: 0.5rem; /* mb-2 */
  text-align: center; /* text-center */
}

.alert-message {
  display: inline-block; /* sm:inline */
}